# Server configuration
PORT=3000

# Database configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/your_database_name

# JWT configuration
JWT_ACCESS_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_ACTIVATION_SECRET=your_jwt_activation_secret_key
JWT_EXPIRES_IN=24h