# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Conflict files
*.orig

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store

# IDE/editor files (opcjonalnie)
.vscode/
/src/generated/prisma
/prisma/generated
/prisma/migrations
